.bottom-address-container {
  padding: 10px 0px;
  .location-confirm {
    .location {
      width: 70%;
      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    div button.confirm-button {
      margin-top: 10px;
      border-radius: 4px;
    }
  }
  .input-area {
      width: 100%;
      mat-form-field {
        input::placeholder {
            overflow: visible;
        }
      }
  }
  div button.confirm-button {
    margin-top: 10px;
    border-radius: 4px;
  }
}

mat-divider {
    margin: 10px 0px;
}

mat-radio-button {
    margin-right: 10px;
}