
@import '../../../../assets/styles/variable';
$width: 100;
$color: $color-green;
.loader-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  z-index: 9999;

  .overlay {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: black;
    opacity: 0.3;
    overflow: hidden;
  }

  .ball-loader {
    width: $width + 0px;
    height: ($width / 3) - 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .ball-loader-ball {
    will-change: transform;
    height: ($width / 3) - 10px;
    width: ($width / 3) - 10px;
    border-radius: 50%;
    background-color: $color;
    position: absolute;
    animation: grow 1s ease-in-out infinite alternate;

    &.ball1 {
      left: 0;
      transform-origin: 100% 50%;
    }
    &.ball2 {
      left: 50%;
      transform: translateX(-50%) scale(1);
      animation-delay: 0.33s;
    }
    &.ball3 {
      right: 0;
      animation-delay: 0.66s;
    }
  }

  @keyframes grow {
    to {
      transform: translateX(-50%) scale(0);
    }
  }
}
