.pre-register-container{
  mat-checkbox{
    margin: 8px 0;
  }
  .head2{
    text-align: center;
  }
  .input-fields{
    width: 100%;
  }
  .checkboxes{
    mat-checkbox{
      padding: 10px;
    }
  }
}
