@import './../../../../assets/styles/mixins';
.np-page-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column-reverse;
  text-align: center;
  background-color: #e0e0e0a6;
  img {
    @include phone {
      max-width: 100%;
    }

    max-width: 45%;
    height: auto;
  }

  .contents {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    top: 110px;

    h3 {
      font-weight: 200;
      margin-bottom: 5px;
    }

    .bold-red {
      color: #ff1500;
      font-size: 6.5rem;
      font-weight: 600;
      padding-bottom: 30px;
    }
    .goto-home {
      background: #F0C618;
      color: #020202a3;
      font-weight: 500;
      font-size: 1.8rem;
      margin-right: 10px;
      border: none;
      outline: none;
      margin-top: 60px;
    }
  }
}
