<div matRipple class="locationdialog-conatiner custom-scroll">
  <div class="cross">
    <button mat-icon-button aria-label="" (click)="closePage()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div *ngFor="let browser of selectedBrowser" class="browser-content">
    <!--browser name will change when other browser detects -->
    <div class="head3">Step: {{ browser.step }}</div>
    <img src="{{ browser.image }}" height="120px" alt="" />
    <p>{{ browser.text }}</p>
  </div>
</div>
