<!-- <div id="nav-bottom" color="primary">
    <mat-icon>home</mat-icon>
    <mat-icon>history</mat-icon>
    <mat-icon>search</mat-icon>
    <div>
      	<mat-icon [matBadge]="cartCount" matBadgeColor="warn" matBadgePosition="above after" [matBadgeHidden]="cartCount == 0">shopping_cart</mat-icon>
    </div>

</div> -->

<mat-toolbar  id="nav-bottom" color="primary">
    <mat-icon>home</mat-icon>
    <mat-icon>history</mat-icon>
    <mat-icon>search</mat-icon>
    <div>
      	<mat-icon [matBadge]="cartCount" matBadgeColor="warn" matBadgePosition="above after" [matBadgeHidden]="cartCount == 0">shopping_cart</mat-icon>
    </div>
  </mat-toolbar>
