@import './../../../../assets/styles/mixins';
@import './../../../../assets/styles/variable';

.add-address-container {
  box-shadow: none;
  padding: 0px;
  position: relative;
  max-height: 100vh;

  mat-toolbar {
    background: #ffffff !important;
    box-shadow: none;
    padding: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    left: 0px;    
    z-index: 1000;
    overflow: hidden;
    .input-area {
      .search-element {
        position: relative;
        background-color: $color-background-light;
        padding: 10px;
        width: calc(100vw - 50px);
        input {
          position: relative;
          width: 100%;
          padding: 15px 0 15px 14px;
          margin-bottom: 10px;
          font-size: 0.8rem;
          &:last-child{
            margin-bottom: 0;
          }
  
          &:active,
          &:focus {
             outline: none;
          }
        }
      }
    }
  }

  agm-map {
    height: calc(100vh - 176px);
    z-index: 0;
  }
}

.location-confirm {
  padding: 10px 16px;
  .location {
    width: 100%;
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  div button.confirm-button {
    margin-top: 10px;
    border-radius: 4px;
  }
}

mat-divider {
  margin: 7px 0px;
}