<div class="food-landing-container">
  <div class="img-area">
    <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/RedDot_Burger.jpg" alt="">
  </div>
  <div flexlayout="row nowrap" flexlayoutAlign="start center" class="heading">
    <img src="../../../assets/img/core/trending.svg" alt="" class="image">
    <div class="head2">Popular Items</div>
  </div>
  <foods-landing-items></foods-landing-items>
  <div flexlayout="row nowrap" flexlayoutAlign="start center" class="heading">
    <img src="../../../assets/img/core/star.svg" alt="" class="image">
    <div class="head2">Most ordered</div>
  </div>
  <foods-landing-items></foods-landing-items>
  <div flexlayout="row nowrap" flexlayoutAlign="start center" class="heading">
    <img src="../../../assets/img/core/discount.svg" alt="" class="image">
    <div class="head2">Offers</div>
  </div>
  <foods-landing-items></foods-landing-items>
  <div flexlayout="row nowrap" flexlayoutAlign="start center" class="heading">
    <img src="../../../assets/img/core/discount.svg" alt="" class="image">
    <div class="head2">Your previous orders</div>
  </div>
  <foods-landing-items></foods-landing-items>
</div>
