.login-signup-container{
  background: #fff;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .bg-illustration{
    position: absolute;
    left: -34px;
    background-size: contain;
    background-position: center;
    will-change: opacity;
    transition: opacity .3s;
    img{
      height: 60px ;
    }
  }
  .slider-content-container {
    position: relative;
    left: 40px;
    width: calc(100vw - 50px);
    height: 75vh;
    margin: 0px 10px 10px 10px;
    overflow: hidden;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 0;
    margin-top: 50px;
    background: #FFF;
    padding: 0px;
    .component-container {
      position: absolute;
      width: 100%;
      height: 78vh;
      visibility: hidden;
      background-size: contain;
      background-position: center;
      will-change: visibility;
      bottom: 0;
      &.selected {
        visibility: visible;
        transition: 1.5s;
        bottom: 0;
      }
    }
  }
  .slider {
    position: absolute;
    top: 50%;
    left: -70px;
    opacity: 1;
    display: flex;
    transform: rotate(270deg);

    .slide-button-parent-container {
      position: relative;
      writing-mode: horizontal-tb;
      margin-right: 30px;
      font-weight: bold;
      font-size: 18px;
      .select-box{
        position: relative;
        .slide-button {
          color: #000;
          cursor: pointer;
          position: relative;
          &:hover, &.slide-button-select{
            color:#FF513F !important;
            transition: color .4s, transform 4s cubic-bezier(0.190, 1.000, 0.220, 1.000) !important;
          }

          .slide-button-select {
            background-color:#FF513F !important;
            transition: color .4s, transform 4s cubic-bezier(0.190, 1.000, 0.220, 1.000) !important;
          }
        }
      }

    }
  }
  .slide-action-btn{
    position: relative;
    top: -50px;
    display: block;
    left: 90px;
    .action-btn-started{
      color: #FFF;
      font-size: 1em;
      outline: none;
      border: none;
      border-radius: 8px;
      margin-top: 22px;
      padding: 10px 60px;
      display: flex;
    }
  }
}
