<div *ngIf="!development" class="vehicle-location-container">
  <div class="input-area">
    <div class="search-element">
      <input
        class="from zat-input"
        placeholder="Location"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        type="search"
        #searchFrom
        required
      />
    </div>
    <ng-template #customContent>
      <div style="border-radius: 10px">Provide your delivery location</div>
    </ng-template>
    <ng-template #counter> </ng-template>
    <ng-template #doneButton>
      <button
        mat-raised-button
        color="primary"
        (click)="onOnboardingCompletion()"
      >
        Okay
      </button>
    </ng-template>
  </div>
  <div class="map-area">
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [scrollwheel]="true"
      [zoomControl]="false"
      [streetViewControl]="false"
      (mapReady)="mapReady($event)"
      [zoom]="zoom"
      [clickableIcons]="false"
      [styles]="mapStyles"
    >
      <agm-marker
        *ngIf="customerStateService.selectedLocation.from.lat"
        [latitude]="customerStateService.selectedLocation.from.lat"
        [longitude]="customerStateService.selectedLocation.from.lng"
        [markerDraggable]="false"
        [iconUrl]="'assets/icons/pin-start.svg'"
        [animation]="'BOUNCE'"
      >
      </agm-marker>

      <agm-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [markerDraggable]="m.draggable"
        [iconUrl]="'assets/icons/marker.gif'"
      >
      </agm-marker>
      <agm-marker
        *ngFor="let m of addressMarkers; let i = index"
        (markerClick)="clickedMarker(m.label)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [iconUrl]="m.markerUrl"
      >
      </agm-marker>
    </agm-map>
  </div>
</div>

<div *ngIf="!development" class="swiper-parent-container">
  <button
    mat-raised-button
    color="primary"
    *ngIf="customerStateService.selectedLocation.from.lat"
    (click)="goToRestaurant()"
  >
    Confirm Location
  </button>
</div>

<!-- <div *ngIf="development">
  <div class="dialog-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="head3">Hi, due to COVID19 our services are temporarilly suspended, however you can order essentials goods from your near by shops</div>
    <button mat-raised-button color="primary" (click)="orderEssentials()">Order Essentials</button>
  </div>
</div> -->
