.signin-otp{
  display: flex;
  flex-flow: column;
  padding: 20px 10px;
  .header{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .input-container{
    width: 100%;
  }
  .actions{
    padding: 8px 5px;
    display: inline-flex;
    align-items: center;
    justify-items: flex-end;
    justify-content: space-between;
    flex-flow: row-reverse;
  }


  .msg{
    color: #929295;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    padding: 12px 0px;
  }
}
