@import '~@angular/material/theming';

@include mat-core();
$md-orange: (
    50 : #ffeee9,
    100 : #ffd4c8,
    200 : #ffb7a3,
    300 : #ff9a7e,
    400 : #ff8563,
    500 : #ff6f47,
    600 : #ff6740,
    700 : #ff5c37,
    800 : #ff522f,
    900 : #ff4020,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd5cf,
    A700 : #ffbfb6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
