
$color-yellow: #ffff00;
$color-blue: #2096F3;
$color-orange: #ff1500;
$color-red: #ff2800;
$color-green: #7ac142;
$color-yellow-light: #F0C618;

$color-background-light: #feffff;


$html-font-size-lg: 16px;
$html-font-size-md: 15px;
$html-font-size-sm: 14px;
$html-font-size-xs: 13px;

$paragraph-font-size-lg: 18px;
$paragraph-font-size-md: 16px;
$paragraph-font-size-sm: 14px;
$paragraph-font-size-xs: 12px;

