<div class="bill-detail-container">
  <div class="title"><div class="head3">Bill Details</div></div>
  <div class="bill-split" fxLayout="row" fxLayoutAlign="space-between center">
    <div>Sub Total</div>
    <div class="rate bold">₹{{data.totalPrice}}</div>
  </div>
  <div class="bill-split" fxLayout="row" fxLayoutAlign="space-between center">
    <div>Delivery Fee</div>
    <div class="rate bold">₹{{data.deliveryCharges}}</div>
  </div>
  <div class="bill-split" fxLayout="row" fxLayoutAlign="space-between center">
    <div>Taxes</div>
    <div class="rate">₹{{data.totalTax}}</div>
  </div>
  <mat-divider></mat-divider>
  <div class="bill-split" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="head3">Total</div>
    <div class="rate bold">₹{{data.paybleAmount}}</div>
  </div>
</div>
